Cedric Paille <cedricpaille@gmail.com>                        Cedric PAILLE <cedricpaille@gmail.com>
Charles Curley <charlescurley@users.noreply.github.com>       Charles Curley <charlescurley@charlescurley.com>
gauthier60 <gauthier60@ffa7fe5e-494d-0410-b361-a75ebd5db220>  Gauthier60 <Gauthier60@ffa7fe5e-494d-0410-b361-a75ebd5db220>
Joseph Herlant <aerostitch@users.noreply.github.com>          Joseph Herlant <herlantj@gmail.com>
Marc Capdeville <mcapdeville@users.noreply.github.com>        Marc CAPDEVILLE <marc@icrea-technologies.fr>
Marc Capdeville <mcapdeville@users.noreply.github.com>        mcapdeville <m.capdeville@no-log.org>
Patrick Höhn <hoehnp@users.noreply.github.com>                Patrick Höhn <hoehnp@gmx.de>
Pierre Grandin <pgrandin@users.noreply.github.com>            Pierre GRANDIN <pgrandin@users.noreply.github.com>
Pierre Grandin <pgrandin@users.noreply.github.com>            Pierre GRANDIN <grandinp@altern.org>
Pierre Grandin <pgrandin@users.noreply.github.com>            Pierre Grandin <grandinp@altern.org>
Pierre Grandin <pgrandin@users.noreply.github.com>            Pierre Grandin <grandinp@gmail.com>
Pierre Grandin <pgrandin@users.noreply.github.com>            kazer_ <kazer_@ffa7fe5e-494d-0410-b361-a75ebd5db220>
Sebastian Leske <sebastian.leske@sleske.name>                 Sebastian Leske <Sebastian.Leske@sleske.name>
Sebastian Leske <sebastian.leske@sleske.name>                 sleske <sleske@ffa7fe5e-494d-0410-b361-a75ebd5db220>
Stefan Wildemann <metalstrolch@users.noreply.github.com>      Stefan Wildemann <gta04@metalstrolche.de>
Stefan Wildemann <metalstrolch@users.noreply.github.com>      Stefan Wildemann <metalstrolch@metalstrolche.de>
Stefan Wildemann <metalstrolch@users.noreply.github.com>      Stefan Wildemann <stefan.wildemann@metalstrolche.de>
Stefan Wildemann <metalstrolch@users.noreply.github.com>      Wildemann Stefan <stefan.wildemann@corpuls.com>
Michael Dankov <mdankov@users.noreply.github.com>             Michael Dankov <tryagain@navit-project.org>
Michael Dankov <mdankov@users.noreply.github.com>             mdankov <mdankov@ffa7fe5e-494d-0410-b361-a75ebd5db220>
Michael Dankov <mdankov@users.noreply.github.com>             mdankov <mdankov@users.noreply.github.com>
youte62 <jeremylheureux@gmail.com>                            youte62 <jeremylheureux@gmailcom>
Johan Fitié <jfitie@users.noreply.github.com>                 Johan Fitié <jfitie@gmail.com>
jandegr <jandegr@users.noreply.github.com>                    jandegr <jandegr1@hotmail.com>
jkoan <jkoan@users.noreply.github.com>                        jkoan <jkoan@gmx.de>
mvglasow <mvglasow@users.noreply.github.com>                  mvglasow <michael -at- vonglasow.com>
mvglasow <mvglasow@users.noreply.github.com>                  mvglasow <michael@vonglasow.com>
mvglasow <mvglasow@users.noreply.github.com>                  mvglasow <mvglasow@ffa7fe5e-494d-0410-b361-a75ebd5db220>
Manuel Hohmann <xenos1984@users.noreply.github.com>           xenos1984 <xenos1984@ffa7fe5e-494d-0410-b361-a75ebd5db220>
Manuel Hohmann <xenos1984@users.noreply.github.com>           xenos1984 <mhohmann@physnet.uni-hamburg.de>
Rikky <Rikky@ffa7fe5e-494d-0410-b361-a75ebd5db220>            rikky <rikky@ffa7fe5e-494d-0410-b361-a75ebd5db220>
Robert Pohlink <pohlinkzei@users.noreply.github.com>          Robert Pohlink <pohlinkzei@gmx-topmail.de>
Robert Pohlink <pohlinkzei@users.noreply.github.com>          pohlinkzei <pohlinkzei@gmx-topmail.de>
Michael Farmbauer <horwitz@users.sourceforge.net>             horwitz <horwitz@ffa7fe5e-494d-0410-b361-a75ebd5db220>
Martin Schaller <martin-s@users.sourceforge.net>              martin-s <martin-s@ffa7fe5e-494d-0410-b361-a75ebd5db220>
