version: 2
defaults: &defaults
  docker:
    - image: ubuntu:14.04

jobs:
  build_linux:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Setup requirements
          command: |
            bash ci/setup_common_requirements.sh
            apt-get install -y libpng12-dev librsvg2-bin libfreetype6-dev libdbus-glib-1-dev libgtk2.0-dev curl
      - run:
          name: Build for Linux
          command: bash ci/build_linux.sh
      - store_artifacts:
          path: linux/_CPack_Packages
      - run:
          name: Update Navit-Download-Center
          command: |
            bash ci/update_download_center.sh
  run_doxygen:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install doxygen
          command: apt-get update && apt-get -y install doxygen ca-certificates git
      - run:
          name: Run doxygen
          command: cd navit && doxygen
      - run:
          name: Update results to Github
          command: bash ci/update_doxygen.sh
      - store_artifacts:
          path: /root/project/doc
  build_android_arm:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Setup common requirements
          command: |
            bash ci/setup_common_requirements.sh
      - run:
          name: Prepare the Android build environment
          command: |
            bash ci/setup_android.sh
      - run:
          name: Build for Android ARM
          command: |
            bash ci/build_android.sh
      - store_artifacts:
          path: android-arm/navit/android/bin
      - save_cache:
          key : navit-android-arm-{{ .Revision }}
          paths:
            - ./android-arm/navit/android/bin
      - run:
          name: Update Navit-Download-Center
          command: |
            bash ci/update_download_center.sh
      - run:
          name: Update beta channel on PlayStore
          command: bash ci/publish.sh
  build_android_x86:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Setup common requirements
          command: |
            bash ci/setup_common_requirements.sh
      - run:
          name: Prepare the Android build environment
          command: |
            bash ci/setup_android.sh
      - run:
          name: Build for Android X86
          command: |
            bash ci/build_android_x86.sh
      - store_artifacts:
          path: android-x86/navit/android/bin
      - run:
          name: Install git
          command: apt-get update && apt-get -y install ca-certificates git
      - run:
          name: configure ssh git
          command: mkdir -p ~/.ssh/ && ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      - add_ssh_keys:
          fingerprints:
            - "16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48"
      - run:
          name: Update Navit-Download-Center
          command: |
            bash ci/update_download_center.sh
  build_win32:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Build for Windows
          command: |
            bash ci/setup_common_requirements.sh
            bash ci/build_win32.sh
      - store_artifacts:
          path: win32/navit.exe
      - run:
          name: Update Navit-Download-Center
          command: |
            bash ci/update_download_center.sh
  build_wince:
    docker:
      - image: navit/dockerfiles:wince
    steps:
      - checkout
      - run:
          name: Prepare the WinCE build environment
          command: |
            bash ci/setup_wince.sh
      - run:
          name: Build for Windows CE
          command: bash ci/build_wince.sh
      - store_artifacts:
          path: wince/output
      - run:
          name: Update Navit-Download-Center
          command: |
            bash ci/update_download_center.sh
  build_tomtom_minimal:
    <<: *defaults
    docker:
      - image: navit/tomtom-build-image
    steps:
      - checkout
      - run:
          name: Setup common requirements
          command: |
            bash ci/setup_common_requirements.sh
      - run:
          name: Build for Tomtom (minimal)
          command: |
            bash ci/build_tomtom_minimal.sh
      - store_artifacts:
          path: /output
      - run:
          name: Update Navit-Download-Center
          command: |
            bash ci/update_download_center.sh
  build_tomtom_plugin:
    <<: *defaults
    docker:
      - image: navit/tomtom-build-image
    steps:
      - checkout
      - run:
          name: Setup common requirements
          command: |
            bash ci/setup_common_requirements.sh
      - run:
          name: Build for Tomtom (plugin)
          command: |
            bash ci/build_tomtom_plugin.sh
      - store_artifacts:
          path: /output
      - run:
          name: Update Navit-Download-Center
          command: |
            bash ci/update_download_center.sh
  merge_trunk_in_master:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install git
          command: apt-get update && apt-get -y install ca-certificates git
      - run:
          name: configure ssh git
          command: mkdir -p ~/.ssh/ && ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      - add_ssh_keys:
          fingerprints:
            - "16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48"
      - run:
          name: Update results to Github
          command: export GIT_TERMINAL_PROMPT=0 && git push origin $CIRCLE_SHA1:refs/heads/master
  upload_to_googleplay:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install certs
          command: apt-get update && apt-get -y install ca-certificates git python-pip
      - restore_cache:
          key : navit-android-arm-{{ .Revision }}
      - run:
          name: Update beta channel on PlayStore
          command: bash ci/publish.sh
workflows:
  version: 2
  build_all:
    jobs:
      - build_linux
      - build_android_arm
      - build_android_x86
      - build_win32
      - build_wince
      - build_tomtom_minimal
      - build_tomtom_plugin
      - run_doxygen:
          requires:
            - build_linux
            - build_android_arm
            - build_android_x86
            - build_win32
            - build_wince
            - build_tomtom_minimal
            - build_tomtom_plugin
          filters:
            branches:
              only: /^trunk$/
      - merge_trunk_in_master:
          requires:
            - build_linux
            - build_android_arm
            - build_android_x86
            - build_win32
            - build_wince
            - build_tomtom_minimal
            - build_tomtom_plugin
          filters:
            branches:
              only: /^trunk$/
      - upload_to_googleplay:
          requires:
            - build_android_arm
          filters:
            branches:
              only: /^googleplay_upload$/
