/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_NAVITTOOLBAR BITMAP  DISCARDABLE "toolbar.bmp"
IDI_NAVIT ICON    DISCARDABLE     "navit.ico"
